keras==2.11.0
numpy==1.24.2
opencv_python==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
plotly==5.8.0
pydeck==0.8.0
scikit_learn==1.2.2
streamlit==1.9.2
streamlit_option_menu==0.3.2
tensorflow==2.12.0
tensorflow_intel==2.11.1
